/* SSMClient: Solid Solutions */

:root {
	--print-font-size: 10pt !important;
	--table-alternate-row-color: rgba(240, 240, 240, 0.5) !important;
}
@page {
	/* size: A4 Portrait; */
	/* size: A4 Landscape; */
	margin: 10mm !important;
}

/* page counter */
@page {
	@bottom-center {
		font-size: 15px;
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
		content: counter(page) ' / ' counter(pages);
	}
}

* {
	/* background: transparent; */
	/* color: black !important; */
	/* Removed important because it causes issues in grid when font color is changed with custom sx */
	color: black;
	/* disabled because it causes issues in grid when font size is changed from default */
	/* font-size: var(--print-font-size); */
	text-decoration: none;
	-webkit-transition: none !important;
	transition: none !important;
	/* background-color: white !important; */
}

/* ensure links are black */
a {
	color: black !important;
}

body {
	display: block;
	-webkit-print-color-adjust: exact;
}

/* print header  */
/* .print-header {
	display: table;
	margin-bottom: 5pt;
} */

th,
.tabulator-print-table-row:nth-child(even),
.Table tr:nth-child(even) {
	background-color: var(--table-alternate-row-color) !important;
}

.tabulator-print-table-row:nth-child(odd) {
	background-color: white !important;
}

.tabulator-print-table-row td {
	font-size: var(--print-font-size) !important;
}

.tabulator-print-table .tabulator-data-tree-control {
	display: none;
}

/* table header  */
.tabulator-print-table thead tr th {
	font-size: var(--print-font-size) !important;
}

div.tabulator-cell,
div.tabulator-row {
	break-inside: avoid;
}

.page-break {
	page-break-after: always;
}

.no-print {
	display: none !important;
}

.react-grid-layout {
	width: 100% !important;
	position: relative !important;
	overflow: visible !important;
}

.react-grid-item {
	page-break-inside: avoid;
}

/* optional: Remove borders/shadows/margins for clean printing */
.react-grid-item,
.react-grid-layout {
	box-shadow: none !important;
	/* hide borders of grid */
	/* border: none !important;  */
	background: white !important;
}

.react-grid-layout-header,
.react-grid-item-header {
	width: 100% !important;
	border: none !important;
	background: white !important;
}

/* margin and padding of main element */
.main {
	margin: 0 !important;
	padding: 0 !important;
}

/* space between consecutive tables */
.tabulator-print-table {
	margin-bottom: 10px;
}

/* add vertical separator to headers and cells */
/* .tabulator-print-table > thead > tr > th,
.tabulator-print-table-row > td {
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	} */

/* ensures chart fits in parent  */
.react-grid-item canvas {
	max-width: 100% !important;
	height: auto !important;
}

/* .tabulator .tabulator-footer .tabulator-calcs-holder {
} */

/* ensure calcs have bold font */
tr.tabulator-print-table-calcs td {
	font-weight: bold !important;
}
